.button
  display: inline-block
  vertical-align: top
  height: 28px
  padding: 0 29px
  border-radius: 25px
  font-size: 14px
  font-weight: 700
  margin-top: 10px;
  margin-left: 40px
  background: #13A89E
  cursor: pointer
  transition: opacity 300ms
  color: #fff
  &.small
    height: 30px
    font-size: 14px
    letter-spacing: .6px
  &:hover
    opacity: .6
  &:disabled
    cursor: default
    opacity: .4

.meditation
  background: $color_meditation

.event
  background: $color_events

.floating
  background: $color_floating

.massage
  background: $color_massage

.food
  background: $color_food

.game_train
  background: $color_game_traning

.alfagravity
  background: $color_alfa_gravity

//.disabled
//  background: transparent
//  color: $color_events
//  pointer-events: none
//  &.meditation
//    color: $color_meditation
//  &.event
//    color: $color_events
//  &.floating
//    color: $color_floating
//  &.massage
//    color: $color_massage
//  &.food
//    color: $color_food
//  &.game_train
//    color: $color_game_traning
//  &.alfagravity
//    color: $color_alfa_gravity
